body{
    background-color: var(--main-background-color)
}

.post-container{
    width: 80%;
    margin: 20px auto;
}

.post{
    background-color: rgba(123, 157, 183, 0.5);
}

.post:nth-child(even){
    background-color: rgba(255, 255, 255, 0.5); 
}

.post-container td {
    padding: 10px;
}

.subject{
    width: 80%;
}

.author{
    width: 10%;
}

.date{
    width: 10%;
}

.new-post-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: var(--post-background-color);
    margin: 20px auto;
    padding: 20px;
    gap: 30px;
    border-radius: 5px;
}

.new-post-container > h3{
    color: var(--main-color)
}

.new-post-title{
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.separateur{
    width: 90%;
    border: solid 1px rgba(0, 0, 0, 0.2);
}

.new-post-content{
    width: 90%;
    height: 120px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.btn-new-post{
    width: 90%;
    border: none;
    border-radius: 5px;
}

.btn-new-post:hover{
    color: #fff;
    border: none;
    background-color: var(--main-color);
}

@media screen and (max-width : 400px){
    .post{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}