<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forums</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/forums.css">
</head>
<body>
    <header>
        <a href="#"><img src="../assets/img/logo.png" alt="Logo du site"></a>

        <nav>
            <a href="../index.html">Accueil</a>
            <a href="guides.html">Les guides</a>
            <a href="test.html">Les test</a>
            <a href="login.html">Se connecter</a>
        </nav>
    </header>

    <main>
        <section class="container-cards">
            
            <a href="../view/pages-forums/forum-genshin.html" target="_blank">
                <div class="forums-card">
                    <img src="../assets/img/img-cards/card-img-genshin.jpg" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Forum Genshin Impact</h5>
                        <p class="card-text">Plongez dans le monde vibrant de Teyvat aux côtés d'une communauté passionnée de joueurs sur un forum dédié à Genshin Impact. Partagez vos astuces, échangez des stratégies, et découvrez les secrets cachés du jeu en compagnie d'autres aventuriers.</p>
                    </div>
                </div>
            </a>

            <a href="">
                <div class="forums-card">
                    <img src="../assets/img/img-cards/card-img-elden-ring.jpeg" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Forum Elden Ring</h5>
                        <p class="card-text">Les forums dédiés à Elden Ring regorgent de Tarnished en quête de conseils, d'entraide et de camaraderie. Partagez vos exploits, échangez des stratégies pour vaincre les boss les plus coriaces, et explorez les secrets les plus profonds des Terres Entremises.</p>
                    </div>
                </div>
            </a>

            <a href="">
                <div class="forums-card">
                    <img src="../assets/img/img-cards/card-img-forza.jpg" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Forum Forza Horizon</h5>
                        <p class="card-text">Rejoignez notre forum vibrant dédié à l'univers palpitant de Forza Horizon. Partagez votre passion, échangez des conseils de tuning, organisez des événements et connectez-vous avec une communauté de joueurs passionnés.</p>
                    </div>
                </div>
            </a>

            <a href="">
                <div class="forums-card">
                    <img src="../assets/img/img-cards/card-img-fortnite.jpg" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Forum Fortnite</h5>
                        <p class="card-text">Partagez votre passion pour Fortnite sur un forum dédié à ce jeu phénomène. Discutez des dernières nouveautés, échangez des astuces et des stratégies, trouvez des compagnons pour participer aux tournois. Un espace convivial pour tous les fans de Fortnite.</p>
                    </div>
                </div>
            </a>

            <a href="">
                <div class="forums-card">
                    <img src="../assets/img/img-cards/card-img-rocket.jpg" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Forum Rocket League</h5>
                        <p class="card-text">Le forum Rocket League est votre havre de paix virtuel dédié à l'univers palpitant du Rocketcar. Que vous soyez novice ou vétéran, ce forum vous ouvre ses portes pour partager vos exploits, échanger des astuces, trouver des coéquipiers et relever de nouveaux défis.</p>
                    </div>
                </div>
            </a>

            <a href="">
                <div class="forums-card">
                    <img src="../assets/img/img-cards/card-img-apex.jpg" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Forum Apex Legend</h5>
                        <p class="card-text">Bienvenue sur le forum Apex Legends, l'ultime destination pour les légendes en devenir et les vétérans intrépides. Plongez dans une communauté dynamique où les joueurs partagent leurs stratégies, débattent des les meilleures compositions d'équipes et des armes les plus efficaces.</p>
                    </div>
                </div>
            </a>
        </section>
    </main>
</body>
</html>