<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>guides</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/guide.css">
</head>
<body>
    <header>
        <a href="#"><img src="../assets/img/logo.png" alt="Logo du site" /></a>
      
      <nav class="classic-nav">
        <a href="view/forums.html">Les Forums</a>
        <a href="view/guides.html">Les guides</a>
        <a href="view/test.html">Les test</a>
        <a href="view/login.html">Se connecter</a>
      </nav>

      <nav class="nav-dropdown">
        <li class="nav-item">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Menu</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="view/forums.html">Les Forums</a></li>
            <li><a class="dropdown-item" href="view/guides.html">Les Guides</a></li>
            <li><a class="dropdown-item" href="view/test.html">Les test</a></li>
            <li><a class="dropdown-item" href="view/login.html">Se connecter</a></li>
          </ul>
        </li>
      </nav>
    </header>

    <main>
        <section>
            <div class="guide-caracters">
                <table>
                    <tr>
                        <td>Guide de </td>
                        <td>Guide de </td>
                        <td>Guide de </td>
                        <td>Guide de </td>
                    </tr>
                </table>
            </div>

            <div class="guide-weapons">

            </div>

            <div class="guide-regions">

            </div>

            <div class="guide-events">

            </div>

        </section>
    </main>
</body>
</html>